* {
  box-sizing: border-box;
}
h1 {
  color: black;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 20px; /* Add some margin from the top and left */
  color: black;
}

.slider-container {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-right: 350px;
}

.input-group {
  margin-bottom: 20px;
  width: 45%;
  height: 100px;
}

.input-style {
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  margin-left: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  width: 100%;
}

button {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: not-allowed;
  border-radius: 5px;
  font-size: 16px;
}

button.enabled {
  background-color: #3b82f4;
  cursor: pointer;
}

.error-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}

.plan {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  color: black;
}

.input-with-suffix {
  position: relative;
  display: flex;
  align-items: center;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000;
}

th {
  background-color: #f2f2f2;
}
.head {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}
.plan2 {
  padding-right: 50px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: #000;
  border-style: solid;
  margin-right: 70px;
}
